footer {
  background-color: #000000;

  width: 100%;



  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#footer-container > img {
  height: 25px;
  padding-top: 20px;
}

#footer-container > p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

/**MOBILE ET TABLETTE**/

@media screen and (max-width: 992px) {
  #footer-container > p {
    margin-bottom: 60px;
    font-size: 12px;
  }

  footer {
    bottom: 0%;
    margin-bottom: -30px;
  }
  #footer-container > img {
    padding-top: 43px;
  }
}
