/* Font pour le site */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/********** Desktop ************/
.main-home {
  background-color: white;
  padding: 0 6%;
}

.banner {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.banner_img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 25px;
  opacity: 0.6;
  object-fit: cover;
}

.banner_title {
  position: absolute;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  color: #FFFFFF;
}

/********** Tablette **********/
@media (max-width: 992px) {
  .main-home {
    margin: 20px 20px;
    width: 85%;
    padding: 20px;
  }
  .banner {
    height: 110px;
    border-radius: 10px;
  }
  .banner_img {
    height: 110px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .banner_title {
    font-size: 24px;
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .main-home {
    margin: 15px 15px;
    width: 83%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner_title {
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    font-weight: 500;
    left: 9%;
    right: 25%;
  }
}

.cards {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
}

.cards_gradients {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  border-radius: 10px;
}

.cards_gradients:hover {
  opacity: 50%;
}

.cards_img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.cards_title {
  color: #ffffff;
  position: absolute;
  left: 15px;
  right: 5px;
  bottom: 10px;
  display: flex;
  text-align: left;
  font-size: 18px;
}

.section_carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 415px;
}

.img_container {
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_carrousel {
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.previous_arrow {
  position: absolute;
  top: 156px;
  cursor: pointer;
  left: 23px;
}

.previous_arrow:hover {
  transform: scale(1.15);
}

.previous_arrow_none {
  display: none;
}

.next_arrow {
  position: absolute;
  top: 156px;
  cursor: pointer;
  right: 23px;
}

.next_arrow:hover {
  transform: scale(1.15);
}

.next_arrow_none {
  display: none;
}

.slip_carrousel {
  position: absolute;
  color: white;
  bottom: 25px;
  left: 50%;
  font-size: 18px;
  font-weight: 500;
}

.slip_carrousel_none {
  display: none;
}

/* Media queries tablet */
@media (max-width: 768px) {
  .section_carrousel {
    height: 315px;
  }
  .img_container {
    height: 315px;
  }
  .img_carrousel {
    height: 315px;
  }
  .previous_arrow {
    width: 22px;
    height: 30px;
    top: 145px;
  }
  .next_arrow {
    width: 22px;
    height: 30px;
    top: 145px;
  }
  .slip_carrousel {
    bottom: 15px;
    font-size: 15px;
  }
}

/* Media queries portable */
@media (max-width: 480px) {
  .section_carrousel {
    height: 255px;
  }
  .img_container {
    height: 255px;
  }
  .img_carrousel {
    height: 255px;
  }
  .previous_arrow {
    width: 12px;
    height: 20px;
    top: 118px;
  }
  .next_arrow {
    width: 12px;
    height: 20px;
    top: 118px;
  }
  .slip_carrousel {
    bottom: 10px;
    font-size: 12px;
  }
}

.collapse {
  border-radius: 5px;
  text-align: left;
  width: 100%;
  margin: 0 0 20px 0;
}

.collapse-block {
  margin-left: 30px;
  margin-right: 30px;
}

.header-collapse {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.header-collapse_title {
  color: #ffffff;
  margin: 5px 10px 5px 10px;
}

.header-collapse_fleche {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  width: 100%;
}

.header-collapse_fleche.true {
  justify-content: start;
  transform: rotate(-180deg);
}

.content-collapse {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  min-height: 100px;
  padding: 25px 10px 10px 10px;
}

@media screen and (max-width: 992px) {
  .collapse {
    width: 100%;
  }
  .header-collapse {
    height: 30px;
  }
  .content-collapse {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .collapse-block {
    margin-left: 0;
    margin-right: 0;
  }
}

footer {
  background-color: #000000;
  height: 150px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#footer-container > img {
  height: 25px;
  padding-top: 20px;
}

#footer-container > p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

/**MOBILE ET TABLETTE**/
@media screen and (max-width: 992px) {
  #footer-container > p {
    margin-bottom: 25px;
    font-size: 12px;
  }
  footer {
    bottom: 0%;
    height: 120px;
  }
}

/********** Desktop ************/
.header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 88%;
  margin: 0 auto;
  margin-top: 30px;
}

.logo {
  height: 70px;
}

/*Navbar*/
.navbar {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  text-decoration: none;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.navli {
  color: #ff6060;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 142.6%;
}

.navli :focus {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #ff6060;
}

.nav {
  color: #ff6060;
  text-decoration: none;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

/********** Tablette **********/
@media (max-width: 992px) {
  .header-container {
    width: 88%;
  }
  .logo {
    height: 45px;
    width: 145px;
  }
  /*Navbar*/
  .navbar {
    gap: 15px;
    display: flex;
    flex-direction: row;
  }
  .navli {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 142.6%;
    text-transform: uppercase;
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .header-container {
    align-items: center;
    display: flex;
  }
  .navbar {
    width: 70%;
    flex-wrap: wrap;
  }
  .logo {
    width: 70%;
    height: 70%;
  }
  .navli {
    font-size: 12px;
  }
}

.banniere-accueil {
  width: 100%;
}

.block-logements {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin-top: 20px;
}

.block-logements a {
  margin: 10px;
  width: 30%;
  height: 270px;
  border-radius: 10px;
}

.block-logements a:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px black);
}

.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .block-logements {
    background-color: unset;
    flex-direction: column;
    align-content: center;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .banniere-accueil img {
    height: 95px;
    border-radius: 10px;
  }
  .block-logements a {
    width: 100%;
    height: 250px;
  }
}

.tag-container {
  display: flex;
}

.tag-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6060;
  color: #ffffff;
  margin-top: 4%;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 10px 0 10px;
}

@media screen and (min-width: 992px) {
  .tag-container__button {
    flex-direction: column;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}

/********** Desktop ************/
.main_about {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 6%;
}

/*Banner*/
.banner-apropos {
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  height: 223px;
  margin-bottom: 40px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.banner-apropos_img {
  width: 100%;
  margin: auto;
  border-radius: 25px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 25px;
  opacity: 0.6;
  object-fit: cover;
}

/********** Tablette **********/
@media (max-width: 992px) {
  .main_about {
    background-color: white;
  }
  /*Banner*/
  .banner-apropos {
    border-radius: 10px;
  }
  .banner-apropos_img {
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorContainer__Number {
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.errorContainer__Text {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  margin-bottom: 70px;
}

.errorContainer__Link {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  margin-bottom: 20px;
  text-decoration: underline;
}

/********** Desktop ************/
.main-home {
  background-color: white;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 223px;
  margin-top: 10px;
}

.banner_img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 25px;
  opacity: 0.6;
}

.banner_title {
  position: absolute;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  color: #FFFFFF;
}

/********** Tablette **********/
@media (max-width: 992px) {
  .main-home {
    margin: 20px 20px;
    padding: 20px;
  }
  .banner {
    height: 110px;
    border-radius: 10px;
  }
  .banner_img {
    height: 110px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .banner_title {
    font-size: 24px;
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .main-home {
    margin: 15px 15px;
    width: 83%;
    padding: 0px 10px;
  }
  .banner_title {
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    font-weight: 500;
    left: 9%;
    right: 25%;
  }
}

.Fiche-container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: #ff6060;
  margin-right: 30px;
}

.section_Carrousel {
  color: white;
  font-weight: 500;
  width: 100%;
}

.titreEtProprietaire {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .titreEtProprietaire {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .description-centent__description {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .description-centent__equipement {
    width: 100%;
  }
}

.titreEtProprietaire__propietaire {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0%;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .titreEtProprietaire__propietaire {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.titreEtProprietaire__info__title {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .titreEtProprietaire__info__title {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .rate-container {
    display: flex;
    align-items: flex-start;
    width: 50%;
  }
}

.titreEtProprietaire__info__title .titre-logement {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-bottom: 2px;
}

@media screen and (max-width: 992px) {
  .titreEtProprietaire__info__title .titre-logement {
    width: 100%;
    font-size: 18px;
  }
}

.endroit-logement {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

@media screen and (max-width: 992px) {
  .endroit-logement {
    font-size: 14px;
  }
}

.titreEtProprietaire__info__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}

.description-centent {
  align-items: baseline;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.title-collapse {
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .rate-container {
    width: 50%;
  }
}

.description-centent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .description-centent {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
  }
}

.description-centent__description {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .description-centent__description {
    width: 100%;
  }
}

.description-centent__equipement {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .description-centent__equipement {
    width: 100%;
  }
}

.description-info__proprietaire__nom-prop .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .description-info__proprietaire__nom-prop .photo-proprietaire {
    display: flex;
    justify-content: flex-end;
  }
}

.description-info__proprietaire__nom-prop .nom-prop {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.description-info__proprietaire__rate {
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 769px) {
  .description-info__proprietaire__rate {
    display: flex;
    flex-direction: row;
  }
}

.description-info__proprietaire__rate .etoile {
  width: 15px;
  height: 15px;
}

.description-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-info__titletags {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.description-info__titletags__title {
  display: flex;
  flex-direction: column;
}

.description-info__titletags__title .endroit-logement {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}

.description-info__proprietaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-info__proprietaire__nom-prop {
  display: flex;
  align-items: center;
}

.description-info__proprietaire__nom-prop .nom-proprietaire {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 93px;
}

@media screen and (max-width: 769px) {
  .description-info__proprietaire__nom-prop .nom-proprietaire {
    width: 50px;
    font-size: 14px;
  }
}

.description-info__proprietaire__nom-prop .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.description-info__proprietaire__rate {
  justify-content: flex-end;
}

.description-info__proprietaire__rate .etoile {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 992px) {
  .description-info__proprietaire__rate .etoile {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .description-info__proprietaire__rate .etoile {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 769px) {
  .rate-contenair {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: #ff6060;
}
